@model List<GiftViewModel>

@{var counter = 0;}
<section class="md:grid-cols-3 grid grid-cols-1">

    @foreach (var groupViewModel in Model)
    {
        <a asp-action="Edit" asp-route-id=@counter class="order-@groupViewModel.Priority" >
            <section class="bg-gray-100 border-gray-500 border-2 p-6 m-5 rounded-lg  bg-red-600 bg-opacity-50 ">
                @groupViewModel.Title <i class="fas fa-edit"></i>
                <form asp-action="Delete" asp-route-id=@counter method="post">
                    <button onclick="return confirm('You are about to delete @groupViewModel.Title. Are you sure you want to do this?');">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
                @{counter++;}
            </section>
        </a>
    }

</section>

<a asp-action="Create" class="bg-opacity-50 bg-green-600 border-gray-500 border-2 p-2 m-5 my-9 ml-5 rounded-lg hover:bg-blue-200">Create</a>