@model GiftViewModel
<div asp-validation-summary='All'></div>
<div>
    <label asp-for="Title"></label>: <input type="text" asp-for="Title" />
</div>
<div>
    <label asp-for="Description"></label>: <input type="text" asp-for="Description" />
</div>
<div>
    <label asp-for="URL"></label>: <input type="text" asp-for="URL" />
</div>
<div>
    <label asp-for="Priority"></label>: <input type="text" asp-for="Priority" />
</div>
<div>
    <label asp-for="UserId"></label>
    <select asp-for="UserId" asp-items="@(new SelectList(MockData.User, "Id", "FullName"))">
    <option>Please select one</option>
    </select>

</div>