<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>SecretSanta</title>
    <!-- Stylesheets -->
    <% for (var filename in htmlWebpackPlugin.files.css) { %>
    <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet"/>
    <% } %>

    <!-- End Stylesheets -->
</head>
<body>
<header class="inHDR">
    <div class = "flex flex-row justify-between">
        <a class="text-2xl leading-10" asp-controller="Home" asp-action="Index">SecretSanta</a>
        <button class="sm:hidden" onclick = "togglemenujs()"><i class="fas fa-bars align-middle h-full text-2xl"></i></button>
    </div>

    <nav id="headerNav" class = "hidden sm:inline-block">
        <ul class="flex flex-col sm:flex-row ml-6">
            <li class="li">
                <a asp-controller="Users" asp-action="Index">Users</a>
            </li>
            <li class="li">
                <a asp-controller="Groups" asp-action="Index">Groups</a>
            </li>
            <li class="li">
                <a asp-controller="Gifts" asp-action="Index">Gifts</a>
            </li>
        </ul>
    </nav>
</header>
@RenderBody()

<!-- Scripts -->


<% for (var index in htmlWebpackPlugin.files.js) { %>
<script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
<% } %>

<!-- End Scripts -->
<script>
function togglemenujs(){
    var headerNav = document.getElementById("headerNav");
    if (headerNav){
        if (headerNav.classList.contains("hidden")){
            headerNav.classList.remove("hidden");
        }else{
            headerNav.classList.add("hidden");
        }
    }
}
    
</script>
</body>
</html>