@model GroupViewModel

<form asp-controller="Groups" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_CreateOrEdit")
    <button class = "ml-2 btn mr-6">Update</button>
    <a asp-controller="Groups" asp-action="Index" class = "btn bg-red-400 inline block">Cancel</a>
</form>