@model List<UserViewModel>

@{var counter = 0;}

<section class="flex flex-wrap ">
    @foreach (var userViewModel in Model)
    {
        <div class="w-1/3">
            <section class="border-gray-500 border-2 p-6 m-5 rounded-lg">
                @userViewModel.FirstName @userViewModel.LastName <a asp-action="Edit" asp-route-id=@counter>Edit</a>
                <form asp-action="Delete" asp-route-id=@counter method="post">
                    <button>X</button>
                </form>
                @{counter++;}
            </section>
        </div>
    }
</section>
<a asp-action="Create">Create</a>